<div id="${step}">
#parse("/screens/protocolTabs/${step}.vm")
  <!-- hr style="clear:both; margin-top: 20px;"/>
  <div style="width:100%;">
    <div class="persistenceButtons" style="width:48%;">
      <input type="button" class="saveProtocol" onclick="saveProtocolStep();" value="Save"/>
    </div>
    <div class="wizardButtons" style="width:48%; text-align:right;">
      <input type="button" class="wizardStepPrevious" name="wizardStepPrevious" onclick="previousStep();" value="&lt; Previous" disabled='disabled'/>&nbsp;
      <input type="button" class="wizardStepNext" name="wizardStepNext" onclick="nextStep();" value="Next &gt;"/>
      <input type="button" class="wizardStepFinish" name="wizardStepFinish" style="display:none;" onclick="finishStep();" value="Finish!"/>
    </div>
  </div -->
</div>